{% extends "crm/main.html" %}

{% block content %}

   <p><span class="fas fa-plus-circle"></span>&nbsp;   overview of all ongoing process</p>

   <!-- <li>
    <a href="" style='font-size:1.2em' >USERS</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >EmployeeProfile</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >Company</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >Customer</a>
   </li>
   <li>
    <a href="" style='font-size:1.2em' >Vendor</a>
   </li> -->
   
   
{% endblock %}